
.btn-5-1 {
  background-color: #a6611a;
}

.btn-5-2 {
  background-color: #dfc27d;
}

.btn-5-3 {
  background-color: #bbbbbb;
}

.btn-5-4 {
  background-color: #80cdc1;
}

.btn-5-5 {
  background-color: #018571;
}

.btn-11-1 {
  background-color: #543005;
}

.btn-11-2 {
  background-color: #8c510a;
}

.btn-11-3 {
  background-color: #bf812d;
}

.btn-11-4 {
  background-color: #dfc27d;
}

.btn-11-5 {
  background-color: #f6e8c3;
}

.btn-11-6 {
  background-color: #dee9d4;
}

.btn-11-7 {
  background-color: #c7eae5;
}

.btn-11-8 {
  background-color: #80cdc1;
}

.btn-11-9 {
  background-color: #35978f;
}

.btn-11-10 {
  background-color: #01665e;
}

.btn-11-11 {
  background-color: #003c30;
}

.btn-12-1 {
  background-color: #543005;
}

.btn-12-2 {
  background-color: #8c510a;
}

.btn-12-3 {
  background-color: #bf812d;
}

.btn-12-4 {
  background-color: #dfc27d;
}

.btn-12-5 {
  background-color: #f6e8c3;
}

.btn-12-6 {
  background-color: #e6e8ce;
}

.btn-12-7 {
  background-color: #def2c4;
}

.btn-12-8 {
  background-color: #c5eecb;
}

.btn-12-9 {
  background-color: #80cdc1;
}

.btn-12-10 {
  background-color: #35978f;
}

.btn-12-11 {
  background-color: #01665e;
}

.btn-12-12 {
  background-color: #003c30;
}
