#eu-app, #eu-secondary-app, #detail-box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#kviz {
  background-color: #ddd;
  padding: 32px;
  min-height: 550px;
}

#question-header, #done {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

#question-text {
  min-height: 200px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#question-buttons-5 {
  display: flex;
  flex-direction: column;
}

#question-buttons-11, #question-buttons-12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* based on bootstrap buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
}


.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled, fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ececec;
  border-color: #ececec;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-11, .btn-12 {
  width: 100%;
  padding: 0;
  line-height: initial;
}

#results-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-category {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.results-category-name {
  font-weight: bold;
  text-align: center;
}

.results-category-pct {
  font-size: 20px;
}

.results-img {
  width: 100px;
}

#top-result {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#top-result-img {
  width: 200px;
}

#top-result-name {
  font-size: 25px;
  font-weight: bold;
}

#top-result-pct {
  font-size: 35px;
}

#results-waiting {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results-share {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#radar-switch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

#detail-box {
  border: 1px solid #ccc;
  padding: 5px;
}

#cat-detail {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

#cat-detail-picbox {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-detail-pct {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#cat-detail-pct-number {
  font-size: 35px;
  text-align: center;
}

#cat-detail-pct-text {
  font-size: small;
  font-style: italic;
  text-align: center;
}

#cat-detail-info {
  align-self: center;
  width: 33%;
}

#cat-switch {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; 
  flex-wrap: wrap;  
}

.cat-switch-picbox {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: small;
  width: 10%;
  text-align: center;
  align-items: center;
}

.cat-switch-img {
  width: 50px;
}

.cat-switch-name-selected {
  font-weight: bold;
}

.graph-btn {
  text-align: center;
  border: 1px solid #dcdcdc;
  line-height: 1.5;
  border-radius: 10px;
  font-size: 13px;
  background-color: #fff; 
  margin-right: 5px;
}

.graph-btn-selected {
  background-color: #dcdcdc;
}

#eu-secondary-app {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.calc-slider {
  margin-bottom: 20px;
}

#calc-results {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.calc-name-tooltiped {
  text-decoration: underline dotted gray;
}

.calc-results-number {
  font-weight: bold;
}

#minigraf-field {
  display: flex;
  flex-wrap: wrap;
}

#minigraf-field > div {
  width: 50%;
}

#minigraf-buttons {
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  #kviz {
    padding: 32px 10px;
  }

  #question-text {
    font-size: 18px;
    min-height: 185px;
  }

  .btn {
    font-size: 15px;
  }

  .results-img {
    width: 80px;
  }

  .results-category-name {
    font-size: 13px;
  }

  #cat-detail {
    flex-wrap: wrap;
  }

  #cat-detail-picbox {
    width: 50%;
    align-items: center;
  }

  #cat-detail-pct {
    width: 50%;
  }

  #cat-detail-info {
    width: 100%;
    font-size: 14px;
  }

  .cat-switch-picbox {
    width: 25%;
  }

  .cat-switch-img {
    width: 30px;
  }

  .cat-switch-name {
    font-size: 10px;
  }

  #eu-secondary-app {
    font-size: 14px;
  }

  #calc-sliders {
    width: 40%;
  }
}
